body {
  font-family: "Raleway", sans-serif;
}
/* imagen de marca personal */
.logo-image{
  width: 120px;
  height: auto
  
}
/* modificación de color de fondo de barra de navegación */
.custom-navbar{
  background-color: #9DD4CD !important;
}
.custom-text{
  color: gray !important;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/lof_hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*Cambio de fondo seccion acerca de Lof*/
#Acerca-de-lof {
  position: relative;
  padding: 50px 0;
  overflow: hidden; 
}
#Acerca-de-lof::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:  100%;
  background: url("../img/about.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.6; /* Adjust transparency level */
  z-index: -1;
}
/*Justificar texto*/
.text-justify{
  text-align: justify;
}
#Features {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  max-width: 1250px; /*testeado con inspector de codigo*/
   
}

#Features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:  100%;
  background: url("../img/features.png") no-repeat center center;
  background-size: cover;
  opacity: 0.3; /* Adjust transparency level */
  z-index: -1;
}

/* Mis trabajos */

/* #Mis-trabajos .image-left {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#Mis-trabajos .image-center {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
.carousel-item img {
  max-width: 65%; 
  height: auto; 
  object-fit: contain; /*puede ser cover, ir probando*/
  margin: 0 auto; 
  display: block;
  opacity: 0.6; 
}

.carousel-caption{
  color:black !important;
}
.custom-metodologia{
  background-color: #B4B4B4 !important;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
/* modificación color footer */
.custom-footer{
  background-color: #737373 !important;
}